 
{% load static %}
<!DOCTYPE html>

<html lag="en">
    
    <head>
        <meta name="viewpoint"content="width=device-width,initial-scale=1.0 user-scalable=0">
        <title> Contact us </title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="contact.css">

    </head>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
                  <li><a class="dropdown-item" href="/information">Information</a></li>
                  <li><a class="dropdown-item" href="/contact">Contact Us</a></li>
            </ul>
      
          </div>
        </div>
      </nav>
    <body>
        <div class="container">
            <h1> connect with us </h1>
            <p>feel free to contact us , this is a one in a lifetime opportunity.<br>hurry up,we 
                will love to have you on board
            </p>

            <div class="contact-box">
                <div class="contact-left">
                    <h3>send your request</h3>
                    <form > 

                        <div class="input-row">
                            <div class="input-group">
                                <label> Name</label>
                                <input type="text" placeholder="Mellisa Mugiyo">
            
                            </div>
                            <div class="input-group">
                                <label> Phone</label>
                                <input type="text" placeholder="+1 78 066 0803">
            
                            </div>

                            <div class="input-row">
                                <div class="input-group">
                                    <label> Email</label>
                                    <input type="email"
                                     placeholder="mellisamugiyo1@gmail.com">
                
                                </div>
                                <div class="input-group">
                                    <label> subject</label>
                                    <input type="text"
                                     placeholder="product demo">
                
                                </div>
                        </div>

                        <label> message</label>
                        <textarea rows="5" placeholder="your message"></textarea>
                        <button type="submit">SEND </button>
                    </form>

                    </div>
                    <div class="contact-right"></div>
                    <h3>reach us</h3>
                    <table>

                        <tr>
                            <td> Email</td>
                            <td>contactus@gmail.com</td>
                                
                            
                        </tr>

                        <tr>
                            <td> Phone</td>
                            <td>+1 55 072 0803</td>
                
                        </tr>

                        <tr>
                            <td> Adress</td>
                            <td> P.0.box<br>
                                1117<br>
                                Makhado 0929
                            </td>
                
                        </tr>
                    </table>



                </div>
            </div>
        </div>

    

    </body>