{% load static %}
<!DOCTYPE html>
<html lag="en">
    <head>
        <meta name="viewpoint"content="width=device-width,initial-scale=1.0 user-scalable=0">
        <title> About us </title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="sytyle.css">

    </head>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
                  <li><a class="dropdown-item" href="/information">Information</a></li>
                  <li><a class="dropdown-item" href="/contact">Contact Us</a></li>
            </ul>
      
          </div>
        </div>
      </nav>
    <body>
        <div class="container"></div>
            <h1> About US </h1>
            <p>This song is based on emotions and feelings ,if you are missing someone or ,missing home then this song is definely 
                for you, anywhere you may be right now:<br>
                There's no need for you to go anywhere far , we are bringing the love to you<br>

            </p>
            <img src="{% static 'g.jpeg' %}">
            
            <br>
            <br>


              <h2>Bringing the love closer to you</h2>
            <p>sit back and enjoy, we are here for you ,there's no need for you to start calling your loved ones,<br>
                It allows you to feel the warmth of a hug , the love of a family and the care of a friend.
            </p>
            <img src = "{% static 'u.jpeg' %}">
            
            


        </div>
            




    </body>